TAGS
*.swp
*~
*.o
*.log
*.vcd
*.xml
*.dbg
*.wlf
*.elf
*.hex
*.map
*.out
*.json
.build-rtl
.lib-rtl
.opt-rtl
/build
/Bender.lock
/Bender.local
work/
transcript
.gitlab-ci.yml.*
RI5CY-sameIF/tb/core/simv
RI5CY-sameIF/tb/core/simv.daidir/
RI5CY-sameIF/tb/core/ucli.key
RI5CY-sameIF/tb/core/csrc/
